*{
  margin: 0;
  padding: 0;
  font-size: 0.45rem;
}
html,body{
  height: 100%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #666;
}
/*图片icon的大小设置*/
.iconfont{
  font-size: 0.45rem;
}
.clearfix:after{
  content: "";
  height: 0;
  width: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
